<div class="container">
  <div id="overlay" class="overlay"></div>

  <div class="modal-window miko" data-id="modal1">
    <p>モーダルNo.1</p>
    <button class="js-close button-close">Close</button>
  </div>

  <div class="modal-window flea" data-id="modal2">
    <p>モーダルNo.2</p>
    <button class="js-close button-close">Close</button>
  </div>

  <div class="modal-window kanata" data-id="modal3">
    <p>モーダルNo.3</p>
    <button class="js-close button-close">Close</button>
  </div>

  <div class="modal-window polca" data-id="modal4">
    <p>モーダルNo.4</p>
    <button class="js-close button-close">Close</button>
  </div>

  <div class="wrap">
    <img src="sakura.png" class="js-open button-open1" data-id="1" alt="miko">
  </div>
  <div class="wrap">
    <img src="flae.png" class="js-open button-open2" data-id="2" alt="flea">
  </div>
  <div class="wrap">
    <img src="kanata.png" class="js-open button-open3" data-id="3" alt="kanata">
  </div>
  <div class="wrap">
    <button class="js-open button-open" data-id="4">Open4</button>
  </div>
</div>

<blockquote class="twitter-tweet">～</blockquote>