

<section class="et-hero-tabs">
<h1>おいでませ〜魔王城〜</h1>
  <div class="maoumiko">
    <img src="Uma.png">
  </div>
  <div class="videos">
  <%= video_tag("sakuramiko.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  </div>

  <div class="et-hero-tabs-container">
    <a class="et-hero-tab" href="#tab-es6">魔王城</a>
    <a class="et-hero-tab" href="/users/new">契約へ</a>
    <a class="et-hero-tab" href="/chara">幹部</a>
    <a class="et-hero-tab" href="/users">魔王の下僕たち</a>
    <a class="et-hero-tab" href="https://www.shikemura.com/">協力地域:シケ村</a>
    <span class="et-hero-tab-slider"></span>
  </div>
</section>

<!-- Main -->

<main class="et-main">

  <section class="et-slide" id="tab-es6">
    <h1>ES6</h1>
    <h3>something about es6</h3>
  </section>
  <section class="et-slide" id="tab-flexbox">
    <section>
      <div class="skewed">
        <h1>ES6</h1>
        <h3>something about es6</h3>
      </div>
    </section>
  </section>
  <section class="et-slide" id="tab-react">
    <h1>幹部</h1>
    <h3>something about react</h3>
  </section>
  <section class="et-slide" id="tab-angular">
    <h1>Angular</h1>
    <h3>something about angular</h3>
  </section>
  <section class="et-slide" id="tab-other">
    <h1>Other</h1>
    <h3>something about other</h3>
  </section>
</main>
