// Place all the styles related to the chara controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
body{
    background-image: url(xfe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    overflow: hidden;
}

.no_scroll{
    overflow: hidden;
}



.button-open1 {
    background-size: cover;
    width: 330px;
    margin: 0 auto;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 1;

    &:hover{
        width: 350px;
    }
}

.button-open2 {
    background-size: cover;
    width: 160px;
    margin: 0 auto;
    max-width: 160px;
    position: fixed;
    top: 25%;
    right: 5%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.button-open3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: relative;
    top: 510px;
    left: 230px;

    &:before{
        display: block;
        content: '';
        padding-top: 50%;

    }
}
.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #dfdddd;
    border-radius: 5px;
    z-index: 11;
    padding: 2rem;
}

.button-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 1em;
    background-color: #c96931;
    color: #eaeaea;
    border-radius: 20rem;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}